/* Proprietà principali */
* {
    box-sizing: border-box;
    margin: 0;
 }

body {
    font-family: "Open Sans", serif;
    background-color: #F5F5F5;
    color: rgb(34, 34, 34);
}

main {
    margin: 20px;
    font-size: 0;
}

/* Propietà comuni */
#c-header, #c-footer {
    text-align: center;
    background-color: #3c5669;
    color: white;
}

/* Header */
#c-header {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    /* text-align: center; */
    /* height: 300px;
    line-height: 300px; */
}

#c-header > h1 {
    /* display: inline-block; */
    text-align: center;
    height: 300px;
    line-height: 300px;
    font-size: 60px;
    text-shadow: -5px -5px 15px rgba(0, 0, 0, 0.8)
}

/* Main */
main > * {font-size: 18px;} /* Precedentemente impostato a 0 */

/* Section principale */
#c-sectionIntro {
    margin-bottom: 25px;
    padding: 15px;
    width: 100%;
    border: 3px solid black;
    background-color: #4ea5ab;
}

#c-sectionIntro__header h2 {
    font-size: 40px;
    margin-bottom: 0;
}

#c-sectionIntro__header h3 {
    margin-bottom: 25px;
    color: #3b3939;
}
#c-sectionIntro__header h2, h3 {text-align: center;}

#c-sectionIntro article ul {
    margin-top: 15px;
}

/* Article pianeti */
#c-listaPianeti li {
    list-style-image: url("./../../assets/img/pianeta.png");
}

.c-pianeti {
    border: 1px solid black;
    width: calc(33% - 20px);
    display: inline-block;
    margin: 10px;
}

#c-pianeti__titolo {
    font-weight: bold;
    text-align: center;
    font-size:24px;
    padding: 5px;
    background-color: #6990ab;
 }

.c-pianeti__descrizione {
    padding: 15px;
    background-color: #D3D4D8;
}

.c-pianeti__descrizione--bordo {
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
}

.c-pianeti__footer {
    text-align: center;
    font-size: 20px;
    background-color: #758a99;
    padding: 5px;
}

/* Footer */
#c-footer {
    margin-top: 25px;
    line-height: 50px;
    border-top: 3px solid black;
    font-size: 22px;

}

